.header
{
    height: 35.422px;
    padding: 10px;
    background-color: rgb(25,25,25);
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}
.searchBox input
{
    width: 278px;
    height: 20px;
    margin-left: 40px;
    margin-right: 20px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 5px;
    background-color: rgb(20,20,20);
    border: 1px solid rgb(60, 60, 60);
    border: 1px solid gray;
}
.searchBox input::placeholder
{
    font-weight: 700;
    font-size: 14px;

}
.logobutton
{
    color: white;
  
    font-size: 26px;
    margin-left: 40px;
    font-weight: 700;
    line-height: 25px;
}
.homebutton
{
    opacity: 70%;
}
button
{
  background: none;
	color: inherit;
	border: 0;
	padding: 0;
}
.homebutton:hover{
    opacity: 100%;
}
.searchanimeimg
{
  width: 30px;
  height: 34px;
  z-index: 10;
  margin-right: 10px;
  top: 100px;
}
.searchlist
{
    position: absolute;
    padding: 20px;
    padding-bottom: 5px;
    box-sizing: border-box;
    top: 40px;
    left: 353px;
    z-index: 20;
    list-style: none;
    width: 295px  ;
    background-color: rgb(25, 25, 25);
    border: 1px solid gray;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.searchlist a li{
    height: 50px !important;
    display: flex;
}
.searchAnimeDetails
{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
}