.player
{
    width: 1110px;
    height: 619px;
    position: absolute;
    left: 150px;
    top: 100px;

}
.player_page
{
    .anime_info_episodes
    {
        position: absolute;
        top: 750px;
        width: 1110px;
        left: 150px;
        padding-bottom: 50px;
    }
}